
body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    height: 100%;    

}
.cc{
  
  position: fixed;
  left: 15px;
  padding: 10px;
  width: 100px;
  height: 17px;
  margin-top: 600px;
  background-color: rgb(18, 109, 18);
  float: right;
  color: white;
  border-radius: 30px;
  text-decoration-color: white;
  text-indent: 40px;
}
.sup{
  
  position: fixed;
  left: 15px;
  padding: 10px;
  width: 17px;
  height: 17px;
  margin-top: 600px;
  background-color: rgb(18, 109, 18);
  float: right;
  color: white;
  border-radius: 30px;
  text-decoration-color: white;
  text-indent: 40px;
}

.a{
  position: absolute;
  color: white;
  line-height: 1px;
  right: 810px;
}

.t1{
  position: absolute;
  width: 340px;
  height: 40px;
  right: 10px;
  background-color: rgb(68, 175, 109);
  border-radius: 8px;
  top: 160px;
  left: 224px;
  text-indent: 10px;
  color: white;
  line-height: 1px;
}
.t2{
  position: absolute;
  width: 340px;
  height: 40px;
  right: 10px;
  background-color: rgb(68, 175, 109);
  border-radius: 8px;
  top: 160px;
  left: 597px;
  text-indent: 10px;
  color: white;
  line-height: 1px;
}
.t3{
  position: absolute;
  width: 340px;
  height: 40px;
  right: 10px;
  background-color: rgb(68, 175, 109);
  border-radius: 8px;
  top: 160px;
  left: 971px;
  text-indent: 10px;
  color: white;
  line-height: 1px;
}
.t4{
  position: absolute;
  width: 340px;
  height: 40px;
  right: 10px;
  background-color: rgb(68, 175, 109);
  border-radius: 8px;
  top: 530px;
  left: 971px;
  text-indent: 10px;
  color: white;
  line-height: 1px;
}
.t5{
  position: absolute;
  width: 340px;
  height: 40px;
  right: 10px;
  background-color: rgb(68, 175, 109);
  border-radius: 8px;
  top: 530px;
  left: 597px;
  text-indent: 10px;
  color: white;
  line-height: 1px;
}
.t6{
  position: absolute;
  width: 340px;
  height: 40px;
  right: 10px;
  background-color: rgb(68, 175, 109);
  border-radius: 8px;
  top: 530px;
  left: 224px;
  text-indent: 10px;
  color: white;
  line-height: 1px;
}


.verde{
  position: relative;
  right: 150px;
  padding: 10px;
  width: 950px;
  margin-top: 20px;
  background-color: rgb(68, 175, 109);
  float: right;
  color: white;
  border-radius: 3px;
  
}
.verde2{
  
  position: relative;
  left: 898px;
  padding: 10px;
  width: 15px;
  height: 17px;
  margin-top: 20px;
  background-color: rgb(68, 175, 109);
  float: right;
  color: white;
  border-radius: 3px;
}
.verde3{
  
  position: relative;
  left: 970px;
  padding: 10px;
  width: 15px;
  height: 17px;
  margin-top: 20px;
  background-color: rgb(68, 175, 109);
  float: right;
  border-radius: 3px;
  
}
.verde4{
  
  position: relative;
  left: 890px;
  padding: 10px;
  width: 15px;
  height: 17px;
  margin-top: 20px;
  background-color: rgb(68, 175, 109);
  float: right;
  border-radius: 3px;
  
}


/* The side navigation menu */
.sidebar {
    margin: 0px;
    padding: 0px;
    width: 200px;
    color: white;
    background-color:rgba(17, 16, 16, 0.897);
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  div.active{
    background-color: rgba(24, 23, 23, 0.83);
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: rgba(24, 23, 23, 0.83);
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: rgb(9, 7, 7);
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 2px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a a.filial{
      text-align: center;
      float: none;
    }
  }

  img{
    position: static;
    left: 0px;
    top: 6px;
    border-radius: 6px;
  }

 

  .header a.filial{
    font-size: 14px;
    position: relative;
    justify-content: center;
    right: 240px;
    top: 14px;
  }

.despezzio2{
  top: 0%;
  left: 0px;
  position: relative;
}
  
  
  /* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: rgba(17, 16, 16, 0.897);
  padding: 14px 10px;
  width: 84.1%;
  float: right;
}



/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 34px;
  font-weight: bold;
  color: white;
  background-color: rgb(211, 0, 0);
  width: 20%;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: white;
}

/* Style the active/current link*/
.header a.active {
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .header {
    overflow: hidden;
    background-color: rgba(17, 16, 16, 0.897);
    padding: 15%;
    width: 86%;
    float: none;
    
    
  }
  .header a.logo {
    font-size: 11px;
    position: absolute;
    left: 5px;
    top: 10px;
    width: 62px;
    padding: 2px;
  }
  .header a.filial{
    font-size: 12px;
    position: absolute;
    right: 94px;
    top: 5px;

  }
  #senai{
    font-size: 14px;
    position: absolute;
    left: 170px;
    top: 25px;
  }
  #sair{
    font-size: 14px;
    position: absolute;
   left: 307px;
   top: 25px;
  }
#notific{
  position: absolute;
  left: 258px;
  top: 25px;
}
#meng{
  position: absolute;
  left: 284px;
  top: 25px;
}
#circ{
  position: absolute;
  left: 234px;
  top: 25px;
}




}






#card{
    display: flex;
    padding: 20px;
    width: 300px;
    height: 300px;
    margin-top: 3%;
    right: 10px;
    margin-right: 2%;
    background-color: rgb(205,205,205);
    float: right;
    border-radius: 8px;
   
      
    
}
#card2{
    display: flex;
    padding: 20px;
    width: 300px;
    height: 300px;
    margin-top: 3%;
    margin-right: 3%;
    background-color: rgb(205,205,205);
    float: right;
    border-radius: 8px;
  
}
#card3{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    height: 300px;
    margin-top: 3%;
    margin-right: 3%;
    background-color: rgb(205,205,205);
    float: right;
    border-radius: 8px;      
}
#card4{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    height: 300px;
    margin-top: 2%;
    margin-right: 2%;
    background-color: rgb(205,205,205);
    float: right;
    border-radius: 8px;
}
#card5{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    height: 300px;
    margin-top: 2%;
    margin-right: 3%;
    background-color: rgb(205,205,205);
    float: right;
    border-radius: 8px;
    
}
#card6{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    height: 300px;
    margin-top: 2%;
    margin-right: 3%;
    background-color: rgb(205,205,205);
    float: right;
    border-radius: 8px;
      
}





@media  (min-width: 250px) and (max-width: 800px) {
    #card{
        width: 80%;
        margin-right: 1px;
        text-align: right;
        margin-bottom: 20px;
        height: 35%;
        border-radius: 8px;
        
    }

#card2{
    width: 80%;
    margin-right: 1px;
    text-align: right;
    margin-bottom: 20px;
    height: 35%;
    border-radius: 8px;
    
   
}

#card3{
    width: 80%;
    margin-right: 1px;
    text-align: right;
    margin-bottom: 20px;
    height: 35%;
    border-radius: 8px;
 
    
}

#card4{
 
    margin-right: 1px;
    width: 80%;
    height: 300px;
    text-align: right;
    margin-bottom: 20px;
    height: 35%;
    border-radius: 8px;
   
    
}

#card5{
    width: 80%;
    margin-right: 1px;
    text-align: right;
    margin-bottom: 20px;
    height: 35%;
    border-radius: 8px;
    
}

#card6{
    width: 80%;
    margin-right: 1px;
    text-align: right;
    margin-bottom: 20px;
    height: 35%;
    border-radius: 8px;
    
}

.verde{
  display: flex;
  right: 265px;
  padding: 15px;
  width: 170px;
  margin-top: 7px;
  background-color: rgb(68, 175, 109);
  color: white;
  border-radius: 3px;
 
  text-align: center;
  
}
.verde4{
  display: flex;
  padding: 15px;
  width: 20px;
  margin-top:7px;
  background-color: rgb(68, 175, 109);
  color: white;
  border-radius: 3px;
  left: 20px;
  text-align: center;
} 
.verde2{
  display: flex;
  padding: 15px;
  width: 20px;
  margin-top: 7px;
  background-color: rgb(68, 175, 109);
  color: white;
  border-radius: 3px;
  left: 179px;
  text-align: center;
 

}
.verde3{
  display: flex;
  padding: 15px;
  width: 20px;
  margin-top: 7px;
  background-color: rgb(68, 175, 109);
  color: white;
  border-radius: 3px;
  left: 115px;
  text-align: center;
 

}
.t1{
  margin-top: 1150px;
  width: 400px;
  height: 40px;
  background-color:  rgb(18, 109, 18);
  border-radius: 8px;
  text-indent: 10px;
  color: white;
  display: flex;
  left: 67px;
  
}
.t2{
  margin-top: 778px;
  width: 400px;
  height: 40px;
  background-color:  rgb(18, 109, 18);
  border-radius: 8px;
  text-indent: 10px;
  color: white;
  display: flex;
  left: 67px;
  
}
.t3{
  margin-top: 404px;
  width: 400px;
  height: 40px;
  background-color:  rgb(18, 109, 18);
  border-radius: 8px;
  text-indent: 10px;
  color: white;
  display: flex;
  left: 67px;
  
}
.t4{
  margin-top: 1210px;
  width: 400px;
  height: 40px;
  background-color:  rgb(18, 109, 18);
  border-radius: 8px;
  text-indent: 10px;
  color: white;
  display: flex;
  left: 67px;
  
}
.t5{
  margin-top: 1641px;
  width: 400px;
  height: 40px;
  background-color: rgb(18, 109, 18);
  border-radius: 8px;
  text-indent: 10px;
  color: white;
  display: flex;
  left: 67px;
  
}
.t6{
  margin-top: 2070px;
  width: 400px;
  height: 40px;
  background-color:  rgb(18, 109, 18);
  border-radius: 8px;
  text-indent: 10px;
  color: white;
  display: flex;
  left: 67px;
  
}
.active-bx bx-message{
  background-color: aquamarine;
}

}
.b{
  width: 140px;
  
}

